<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Radisson.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/img/icon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/admin/icon/feather/css/feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/admin/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/admin/css/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" type="text/css" href="~/lib/tab-control/tab-control.css">
    <link rel="stylesheet" type="text/css" href="~/lib/toastr.js/toastr.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Radisson.WebUI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Radisson.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/popper.js/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="~/lib/modernizr/modernizr.min.js"></script>
    <script src="~/lib/chart.js/chart.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/toastr.js/toastr.customize.js"></script>

    <script src="~/admin/pages/widget/amchart/amcharts.js"></script>
    <script src="~/admin/pages/widget/amchart/serial.js"></script>
    <script src="~/admin/pages/widget/amchart/light.js"></script>
    <script src="~/admin/js/jquery.mcustomscrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/admin/js/smoothscroll.js"></script>
    <script src="~/admin/js/pcoded.min.js"></script>

    <script src="~/admin/js/vartical-layout.min.js"></script>

    <script type="text/javascript" src="~/admin/js/script.js"></script>
    <script type="text/javascript" src="~/admin/js/script.min.js"></script>
    @await RenderSectionAsync("addjs", required: false)
</body>
</html>
