<div class="col-lg-4 col-md-6 col-sm-12 footer-column">
    <div class="newsletter-widget footer-widget">
        <div class="footer-title">Xəbər Bülleteni</div>
        <div class="text">
            Xüsusi təkliflər haqqında e-poçt yeniləmələrini alın
        </div>
        <div class="subscribe-form">
            <form id="newsletter-s1" method="post">
                <div class="form-group">
                    <input type="email"
                           name="email"
                           id="subscribe"
                           placeholder="E-poçt"
                           required="" />
                    <button type="submit">Abunə Ol</button>
                </div>
            </form>
        </div>
    </div>
</div>