@model PagedViewModel<About>
@{
    ViewData["Title"] = "Otel Haqqında";
}

<section class="page-title centred"
         style="background-image: url(../../wwwroot/images/background/page-title.jpg)">
    <div class="container">
        <div class="content-box">
            <div class="title">Otel Haqqında</div>
            <ul class="bread-crumb">
                <li><a href="index.html">Ana Səhifə</a></li>
                <li>Otel Haqqında</li>
            </ul>
        </div>
    </div>
</section>
@await Component.InvokeAsync("RadissonHotel")

<!-- fact-counter -->
<section class="fact-counter gray-bg sec-pad centred">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Items)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 column">
                    <div class="single-item">
                        <div class="content-box">
                            <div></div>
                            <article class="column wow fadeIn" data-wow-duration="0ms">
                                <div class="count-outer">
                                    <span class="count-text" data-speed="1500" data-stop="@item.Count">0</span>
                                </div>
                            </article>
                            <div class="text">@item.Title</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@await Component.InvokeAsync("TeamsGrid")

