<!-- Main slider -->
<section class="main-slider slider-style-one">
    <div class="container-fluid">
        <ul class="main-slider-carousel owl-carousel owl-theme slide-nav">
            <li class="slider-wrapper">
                <div class="image">
                    <img src="images/main-slider/1.jpg" alt="" />
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">Quality<br />Holidays With Us</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                        </div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image">
                    <img src="images/main-slider/2.jpg" alt="" />
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">Quality<br />Holidays With Us</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                        </div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image">
                    <img src="images/main-slider/3.jpg" alt="" />
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">Quality<br />Holidays With Us</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                        </div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image">
                    <img src="images/main-slider/4.jpg" alt="" />
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">Quality<br />Holidays With Us</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                        </div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
        </ul>
    </div>
</section>
<!-- main-slider end -->
@await Component.InvokeAsync("ReservationFilter")

@await Component.InvokeAsync("RadissonHotel")
<!-- room-section -->
<section class="room-section overlay-style-one gray-bg sec-pad">
    <div class="container">
        <div class="top-title">
            <div class="sec-title">Our Favorite Room</div>
            <div class="title-text">Excepteur sint occaecat cupidatat</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/4.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link">
                                        <i class="icon fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$150<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Single Room</a></h3>
                        <div class="text">
                            Lorem ipsum dolor sit amet constur adip isicing elit sed do
                            eiusmtem por incid.
                        </div>
                        <ul class="info-box">
                            <li class="link">
                                <a href="#" class="theme-btn-three">Book Now</a>
                            </li>
                            <li><i class="flaticon-television"></i></li>
                            <li>
                                <i class="flaticon-wifi-connection-signal-symbol"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/5.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link">
                                        <i class="icon fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$250<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Double Room</a></h3>
                        <div class="text">
                            Lorem ipsum dolor sit amet constur adip isicing elit sed do
                            eiusmtem por incid.
                        </div>
                        <ul class="info-box">
                            <li class="link">
                                <a href="#" class="theme-btn-three">Book Now</a>
                            </li>
                            <li><i class="flaticon-television"></i></li>
                            <li>
                                <i class="flaticon-wifi-connection-signal-symbol"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/6.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link">
                                        <i class="icon fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$300<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Delux Room</a></h3>
                        <div class="text">
                            Lorem ipsum dolor sit amet constur adip isicing elit sed do
                            eiusmtem por incid.
                        </div>
                        <ul class="info-box">
                            <li class="link">
                                <a href="#" class="theme-btn-three">Book Now</a>
                            </li>
                            <li><i class="flaticon-television"></i></li>
                            <li>
                                <i class="flaticon-wifi-connection-signal-symbol"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-btn centred">
            <a href="#" class="theme-btn-two">Book Now</a>
        </div>
    </div>
</section>
<!-- room-section end -->
@await Component.InvokeAsync("ServiceHeaderBody")
<!-- news-section -->
<section class="news-section sec-pad">
    <div class="container">
        <div class="top-title clearfix">
            <div class="sec-title">Latest News</div>
            <div class="title-text">Excepteur sint occaecat cupidatat</div>
            <div class="top-link"><a href="#">Find More News</a></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="single-item">
                    <div class="image">
                        <img src="images/resource/news-1.jpg" alt="" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="content">
                                    <a class="link-btn" href="blog-details.html">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-details.html">Electric Feel And Of Other Things</a>
                        </h3>
                        <ul class="meta-content">
                            <li>by <a href="#">admin</a></li>
                            <li>on <span>2 Sep, 2018</span></li>
                        </ul>
                        <div class="text">
                            Excepteur sint occaecat cupidatat non proi dent sunt in culpa
                            qui officia dese runt mollit anim id est.
                        </div>
                        <div class="link">
                            <a href="blog-details.html" class="theme-btn-three">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="single-item">
                    <div class="image">
                        <img src="images/resource/news-2.jpg" alt="" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="content">
                                    <a class="link-btn" href="blog-details.html">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-details.html">Lacinia eget consecte sed convallis.</a>
                        </h3>
                        <ul class="meta-content">
                            <li>by <a href="#">admin</a></li>
                            <li>on <span>2 Sep, 2018</span></li>
                        </ul>
                        <div class="text">
                            Excepteur sint occaecat cupidatat non proi dent sunt in culpa
                            qui officia dese runt mollit anim id est.
                        </div>
                        <div class="link">
                            <a href="blog-details.html" class="theme-btn-three">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="single-item">
                    <div class="image">
                        <img src="images/resource/news-3.jpg" alt="" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="content">
                                    <a class="link-btn" href="blog-details.html">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-details.html">Cras Ultricies Ligula Sed Magna.</a>
                        </h3>
                        <ul class="meta-content">
                            <li>by <a href="#">admin</a></li>
                            <li>on <span>2 Sep, 2018</span></li>
                        </ul>
                        <div class="text">
                            Excepteur sint occaecat cupidatat non proi dent sunt in culpa
                            qui officia dese runt mollit anim id est.
                        </div>
                        <div class="link">
                            <a href="blog-details.html" class="theme-btn-three">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news-section -->
                            