<!-- Main slider -->
<section class="main-slider slider-style-one">
    <div class="container-fluid">
        <ul class="main-slider-carousel owl-carousel owl-theme slide-nav">
            <li class="slider-wrapper">
                <div class="image">
                    <img src="images/main-slider/1.jpg" alt="" />
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">Quality<br />Holidays With Us</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                        </div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image">
                    <img src="images/main-slider/2.jpg" alt="" />
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">Quality<br />Holidays With Us</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                        </div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image">
                    <img src="images/main-slider/3.jpg" alt="" />
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">Quality<br />Holidays With Us</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                        </div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
            <li class="slider-wrapper">
                <div class="image">
                    <img src="images/main-slider/4.jpg" alt="" />
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <div class="tp-title">Quality<br />Holidays With Us</div>
                        <div class="text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit sed
                        </div>
                    </div>
                </div>
                <div class="slide-overlay"></div>
            </li>
        </ul>
    </div>
</section>
<!-- main-slider end -->
<!-- filter-section -->
<section class="filter-section">
    <div class="container">
        <form method="post" action="#" class="filter-content clearfix">
            <div class="single-item">
                <div class="form-group">
                    <label>Arrival date</label>
                    <i class="fa fa-angle-down"></i>
                    <input type="text"
                           name="date"
                           placeholder="Arrival date"
                           id="datepicker" />
                </div>
            </div>
            <div class="single-item">
                <div class="form-group">
                    <label>Departure date</label>
                    <i class="fa fa-angle-down"></i>
                    <input type="text"
                           name="date"
                           placeholder="Departure date"
                           id="datepicker_1" />
                </div>
            </div>
            <div class="single-item">
                <div class="form-group select-box">
                    <label>Guests</label>
                    <select class="custom-select-box">
                        <option selected="selected">Guests</option>
                        <option>Guests Lavel 1</option>
                        <option>Guests Lavel 2</option>
                        <option>Guests Lavel 3</option>
                        <option>Guests Lavel 4</option>
                    </select>
                </div>
            </div>
            <div class="single-item">
                <div class="form-group">
                    <label>Price</label>
                    <input type="text"
                           name="Price"
                           placeholder="Price"
                           readonly
                           required="" />
                </div>
            </div>
            <div class="single-item">
                <div class="form-group">
                    <div class="link">
                        <button type="submit" class="theme-btn">Book Now</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- filter-section end -->
<!-- about-section -->
<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-content">
                    <div class="sec-title left">Panola Hotel</div>
                    <div class="text">
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum. sed ut
                        perspiciatis unde omnis natus error.
                    </div>
                    <div class="text">
                        Inventore veritatis et quasi architebeatae vitae dicta sunt
                        explicabo. Nemo enim ipsam voluptatem.
                    </div>
                    <div class="link">
                        <a href="about.html" class="theme-btn-two">About Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 clearfix">
                <div class="img-box">
                    <figure class="img-three wow zoomIn animated">
                        <img src="images/resource/3.jpg" alt="" />
                    </figure>
                    <figure class="img-two wow slideInRight"
                            data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                        <img src="images/resource/2.jpg" alt="" />
                    </figure>
                    <figure class="img-one wow slideInLeft"
                            data-wow-delay="0ms"
                            data-wow-duration="1500ms">
                        <img src="images/resource/1.jpg" alt="" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->
<!-- room-section -->
<section class="room-section overlay-style-one gray-bg sec-pad">
    <div class="container">
        <div class="top-title">
            <div class="sec-title">Our Favorite Room</div>
            <div class="title-text">Excepteur sint occaecat cupidatat</div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/4.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link">
                                        <i class="icon fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$150<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Single Room</a></h3>
                        <div class="text">
                            Lorem ipsum dolor sit amet constur adip isicing elit sed do
                            eiusmtem por incid.
                        </div>
                        <ul class="info-box">
                            <li class="link">
                                <a href="#" class="theme-btn-three">Book Now</a>
                            </li>
                            <li><i class="flaticon-television"></i></li>
                            <li>
                                <i class="flaticon-wifi-connection-signal-symbol"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/5.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link">
                                        <i class="icon fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$250<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Double Room</a></h3>
                        <div class="text">
                            Lorem ipsum dolor sit amet constur adip isicing elit sed do
                            eiusmtem por incid.
                        </div>
                        <ul class="info-box">
                            <li class="link">
                                <a href="#" class="theme-btn-three">Book Now</a>
                            </li>
                            <li><i class="flaticon-television"></i></li>
                            <li>
                                <i class="flaticon-wifi-connection-signal-symbol"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/6.jpg" alt="" />
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link">
                                        <i class="icon fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$300<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Delux Room</a></h3>
                        <div class="text">
                            Lorem ipsum dolor sit amet constur adip isicing elit sed do
                            eiusmtem por incid.
                        </div>
                        <ul class="info-box">
                            <li class="link">
                                <a href="#" class="theme-btn-three">Book Now</a>
                            </li>
                            <li><i class="flaticon-television"></i></li>
                            <li>
                                <i class="flaticon-wifi-connection-signal-symbol"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-btn centred">
            <a href="#" class="theme-btn-two">Book Now</a>
        </div>
    </div>
</section>
<!-- room-section end -->
<!-- service-section -->
<section class="service-section sec-pad">
    <div class="container">
        <div class="top-title">
            <div class="sec-title">Our Services</div>
            <div class="title-text">Excepteur sint occaecat cupidatat</div>
        </div>
        <div class="custom-tab-title">
            <ul class="tab-title clearfix">
                <li data-tab-name="details" class="active">
                    <div class="single-btn">
                        <div class="icon-box"><i class="flaticon-coffee-cup"></i></div>
                        <div class="text">Restaurent</div>
                    </div>
                </li>
                <li data-tab-name="review">
                    <div class="single-btn">
                        <div class="icon-box"><i class="flaticon-mortar"></i></div>
                        <div class="text">Health & Beauty</div>
                    </div>
                </li>
                <li data-tab-name="review1">
                    <div class="single-btn">
                        <div class="icon-box">
                            <i class="flaticon-swimming-pool"></i>
                        </div>
                        <div class="text">Swimming Pool</div>
                    </div>
                </li>
                <li data-tab-name="review2">
                    <div class="single-btn">
                        <div class="icon-box"><i class="flaticon-lecture"></i></div>
                        <div class="text">Conference Room</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab-details-content">
            <div class="tab-content" id="details">
                <div class="single-tab-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="img-box">
                                <img src="images/resource/7.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="content">
                                <div class="title">Restaurent</div>
                                <div class="text">
                                    <p>
                                        Excepteur sint occaecat cupidatat non proident sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                        sed ut perspiciatis unde omnis natus error.Inventore
                                        veritatis et quasi architebeatae vitae dicta sunt
                                        explicabonemo enim ipsam voluptatem quia
                                        voluptassit.aspernatur aut odit aut fugit, sed quia
                                        consequuntur
                                    </p>
                                    <p>
                                        Magni dolores eos qui ratione voluptatem sequi
                                        nesciunt.neque porro quisquam est qui dolore ipsum quia
                                        dolor sit amet, consectetur adipisci velit sed quia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="review">
                <div class="single-tab-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="img-box">
                                <img src="images/resource/service-2.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="content">
                                <div class="title">Health & Beauty</div>
                                <div class="text">
                                    <p>
                                        Excepteur sint occaecat cupidatat non proident sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                        sed ut perspiciatis unde omnis natus error.Inventore
                                        veritatis et quasi architebeatae vitae dicta sunt
                                        explicabonemo enim ipsam voluptatem quia
                                        voluptassit.aspernatur aut odit aut fugit, sed quia
                                        consequuntur
                                    </p>
                                    <p>
                                        Magni dolores eos qui ratione voluptatem sequi
                                        nesciunt.neque porro quisquam est qui dolore ipsum quia
                                        dolor sit amet, consectetur adipisci velit sed quia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="review1">
                <div class="single-tab-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="img-box">
                                <img src="images/resource/service-3.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="content">
                                <div class="title">Swimming Pool</div>
                                <div class="text">
                                    <p>
                                        Excepteur sint occaecat cupidatat non proident sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                        sed ut perspiciatis unde omnis natus error.Inventore
                                        veritatis et quasi architebeatae vitae dicta sunt
                                        explicabonemo enim ipsam voluptatem quia
                                        voluptassit.aspernatur aut odit aut fugit, sed quia
                                        consequuntur
                                    </p>
                                    <p>
                                        Magni dolores eos qui ratione voluptatem sequi
                                        nesciunt.neque porro quisquam est qui dolore ipsum quia
                                        dolor sit amet, consectetur adipisci velit sed quia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="review2">
                <div class="single-tab-content">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="img-box">
                                <img src="images/resource/service-4.jpg" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="content">
                                <div class="title">Conference Room</div>
                                <div class="text">
                                    <p>
                                        Excepteur sint occaecat cupidatat non proident sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.
                                        sed ut perspiciatis unde omnis natus error.Inventore
                                        veritatis et quasi architebeatae vitae dicta sunt
                                        explicabonemo enim ipsam voluptatem quia
                                        voluptassit.aspernatur aut odit aut fugit, sed quia
                                        consequuntur
                                    </p>
                                    <p>
                                        Magni dolores eos qui ratione voluptatem sequi
                                        nesciunt.neque porro quisquam est qui dolore ipsum quia
                                        dolor sit amet, consectetur adipisci velit sed quia.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-section end -->
<!-- news-section -->
<section class="news-section sec-pad">
    <div class="container">
        <div class="top-title clearfix">
            <div class="sec-title">Latest News</div>
            <div class="title-text">Excepteur sint occaecat cupidatat</div>
            <div class="top-link"><a href="#">Find More News</a></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="single-item">
                    <div class="image">
                        <img src="images/resource/news-1.jpg" alt="" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="content">
                                    <a class="link-btn" href="blog-details.html">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-details.html">Electric Feel And Of Other Things</a>
                        </h3>
                        <ul class="meta-content">
                            <li>by <a href="#">admin</a></li>
                            <li>on <span>2 Sep, 2018</span></li>
                        </ul>
                        <div class="text">
                            Excepteur sint occaecat cupidatat non proi dent sunt in culpa
                            qui officia dese runt mollit anim id est.
                        </div>
                        <div class="link">
                            <a href="blog-details.html" class="theme-btn-three">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="single-item">
                    <div class="image">
                        <img src="images/resource/news-2.jpg" alt="" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="content">
                                    <a class="link-btn" href="blog-details.html">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-details.html">Lacinia eget consecte sed convallis.</a>
                        </h3>
                        <ul class="meta-content">
                            <li>by <a href="#">admin</a></li>
                            <li>on <span>2 Sep, 2018</span></li>
                        </ul>
                        <div class="text">
                            Excepteur sint occaecat cupidatat non proi dent sunt in culpa
                            qui officia dese runt mollit anim id est.
                        </div>
                        <div class="link">
                            <a href="blog-details.html" class="theme-btn-three">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                <div class="single-item">
                    <div class="image">
                        <img src="images/resource/news-3.jpg" alt="" />
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="content">
                                    <a class="link-btn" href="blog-details.html">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="blog-details.html">Cras Ultricies Ligula Sed Magna.</a>
                        </h3>
                        <ul class="meta-content">
                            <li>by <a href="#">admin</a></li>
                            <li>on <span>2 Sep, 2018</span></li>
                        </ul>
                        <div class="text">
                            Excepteur sint occaecat cupidatat non proi dent sunt in culpa
                            qui officia dese runt mollit anim id est.
                        </div>
                        <div class="link">
                            <a href="blog-details.html" class="theme-btn-three">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news-section -->