@model PagedViewModel<RoomType>

@{
    ViewData["Title"] = "Otaqlar";
}

<!-- page-title -->
<section class="page-title centred" style="background-image: url(~/images/background/page-title.jpg);">
    <div class="container">
        <div class="content-box">
            <div class="title">Rooms Grid View</div>
            <ul class="bread-crumb">
                <li><a href="index.html">Home</a></li>
                <li>Rooms Grid View</li>
            </ul>
        </div>
    </div>
</section>
<!-- page-title end -->
<!-- room-section -->
<section class="room-section room-grid overlay-style-one sec-pad-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/4.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link"><i class="icon fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$150<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Single Room</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adip isicing elit sed do eiusmtem por incid.</div>
                        <ul class="info-box">
                            <li class="link"><a href="#" class="theme-btn-three">Book Now</a></li>
                            <li><i class="flaticon-television"></i></li>
                            <li><i class="flaticon-wifi-connection-signal-symbol"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/5.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link"><i class="icon fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$250<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Double Room</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adip isicing elit sed do eiusmtem por incid.</div>
                        <ul class="info-box">
                            <li class="link"><a href="#" class="theme-btn-three">Book Now</a></li>
                            <li><i class="flaticon-television"></i></li>
                            <li><i class="flaticon-wifi-connection-signal-symbol"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/6.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link"><i class="icon fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$300<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Delux Room</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adip isicing elit sed do eiusmtem por incid.</div>
                        <ul class="info-box">
                            <li class="link"><a href="#" class="theme-btn-three">Book Now</a></li>
                            <li><i class="flaticon-television"></i></li>
                            <li><i class="flaticon-wifi-connection-signal-symbol"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/room-4.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link"><i class="icon fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$250<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Small Room</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adip isicing elit sed do eiusmtem por incid.</div>
                        <ul class="info-box">
                            <li class="link"><a href="#" class="theme-btn-three">Book Now</a></li>
                            <li><i class="flaticon-television"></i></li>
                            <li><i class="flaticon-wifi-connection-signal-symbol"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/room-5.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link"><i class="icon fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$250<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">Family Room</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adip isicing elit sed do eiusmtem por incid.</div>
                        <ul class="info-box">
                            <li class="link"><a href="#" class="theme-btn-three">Book Now</a></li>
                            <li><i class="flaticon-television"></i></li>
                            <li><i class="flaticon-wifi-connection-signal-symbol"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="single-item inner-box">
                    <figure class="image-box">
                        <img src="images/resource/room-6.jpg" alt="">
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <a href="room-details.html" class="link"><i class="icon fa fa-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </figure>
                    <div class="lower-content">
                        <div class="price">$300<span>Per Night</span></div>
                        <ul class="rating">
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                        <h3><a href="room-details.html">King Room</a></h3>
                        <div class="text">Lorem ipsum dolor sit amet constur adip isicing elit sed do eiusmtem por incid.</div>
                        <ul class="info-box">
                            <li class="link"><a href="#" class="theme-btn-three">Book Now</a></li>
                            <li><i class="flaticon-television"></i></li>
                            <li><i class="flaticon-wifi-connection-signal-symbol"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="link-btn centred"><a href="#" class="theme-btn-two">Load More</a></div>
        @Model.GetPager(Url, "Index")
    </div>
</section>
<!-- room-section end -->
