@model IEnumerable<Team>

<section class="testimonial-section sec-pad centred">
    <div class="container">
        <div class="top-title">
            <div class="sec-title">Komanda</div>
            <div class="title-text">Komandamızın üzvləri</div>
        </div>
        <div class="three-column-carousel">
            @foreach (var item in Model)
           {   
            <div class="testimonial-content">
                <figure class="thumb-box">
                        <img src="~/uploads/images/@item.ImagePath" alt="" />
                </figure>
                <div class="author">@item.Name @item.Surname</div>
                <div class="title">
                    <br/>
                </div>
                <div class="text">
                    <p>
                        @Html.Raw(item.Text)
                    </p>
                </div>
            </div>
           }
        </div>
    </div>
</section>