@model Reservation


<section class="filter-section">
    <div class="container">
        <form method="post" action="#" class="filter-content clearfix">
            <div class="single-item">
                <div class="form-group">
                    <label>Arrival date</label>
                    <i class="fa fa-angle-down"></i>
                    <input type="text"
                           name="date1"
                           placeholder="Arrival date"
                           id="datepicker" 
                           autocomplete="off" />
                </div>
            </div>
            <div class="single-item">
                <div class="form-group">
                    <label>Departure date</label>
                    <i class="fa fa-angle-down"></i>
                    <input type="text"
                           name="date2"
                           placeholder="Departure date"
                           id="datepicker_1" 
                           autocomplete="off"/>
                </div>
            </div>
            <div class="single-item">
                <div class="form-group select-box" >
                    <label>Rooms</label>
                    <select name="RoomTypeId" class="select2">
                        @if (ViewBag.RoomTypes != null)
                        {
                            <option selected disable>---Seçin---</option>
                            @foreach (var roomType in ViewBag.RoomTypes)
                            {
                                <option value="@roomType.Id" data-price="@roomType.Price">@roomType.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="single-item">
                <div class="form-group">
                    <label>Price</label>
                    <input name="Price"
                           readonly />
                </div>
            </div>
            <div class="single-item">
                <div class="form-group">
                    <div class="link">
                        <a id="goToLink" href="" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
